html {
	position: relative;
	min-height: 100%;

}

body{
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

iframe{
	width:100%;
	height:100%;

}